<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Counter Strike: Global Offensive</mat-card-title>
      <mat-card-subtitle>Counter-Strike: Global Offensive (CS: GO) expandirá na jogabilidade de ação baseada em equipes na qual foi pioneiro quando foi lançado há 12 anos</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./../../../assets/imagens/csgo.jpg" alt="CSGO IMAGE">
    <mat-card-content>
      <p>
        CS: GO contém novos mapas, personagens e armas, além de conter versões atualizadas de conteúdos do CS clássico (como de_dust2). Além disso, CS: GO introduzirá novos modos de jogo, criação de partidas (matchmaking), placares de líderes e mais.
      </p>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Deus EX</mat-card-title>
      <mat-card-subtitle>The year is 2052 and the world is a dangerous and chaotic place.</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./../../../assets/imagens/deusex.jpg" alt="Photo of a Audi">
    <mat-card-content>
      <p>
        Terrorists operate openly - killing thousands; drugs, disease and pollution kill even more. The world's economies are close to collapse and the gap between the insanely wealthy and the desperately poor grows ever wider.
      </p>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Grand Theft Auto: IV</mat-card-title>
      <mat-card-subtitle>Niko Bellic, Johnny Klebitz e Luis Lopez têm uma coisa em comum: eles vivem na pior cidade da América do Norte.
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./../../../assets/imagens/gtaiv.jpg" alt="GTA IV">
    <mat-card-content>
      <p>
        Liberty City cultua dinheiro e status, e é o paraíso para quem tem essas coisas, mas um pesadelo para quem não tem.
      </p>
    </mat-card-content>
    
  </mat-card>
  
</div>
  