<div class="container">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Need For Speed: Most Wanted</mat-card-title>
        <mat-card-subtitle>Aperte os cintos, pise fundo e cause confusão
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./../../../assets/imagens/nfsmw.jpg" alt="MOST WANTED">
      <mat-card-content>
        <p>
          LO mundo aberto de Need for Speed™ Most Wanted dá a liberdade para você dirigir da forma que desejar. Realize saltos e pegue atalhos, troque de carros, seja discreto ou dirija em terrenos onde você pode aproveitar os pontos fortes do seu veículo. Abra caminho entre policiais e rivais com carros de alta tecnologia e um monte de nitro. Tudo gira ao redor de você, seus amigos e uma imensa gama de carros. Vamos ver o que você é capaz de fazer.
        </p>
      </mat-card-content>
    </mat-card>
    
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Assetto Corsa</mat-card-title>
        <mat-card-subtitle>NEXT GENERATION RACING SIMULATOR</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./../../../assets/imagens/asseto.jpg" alt="Photo of a Mazda">
      <mat-card-content>
        <p>
          Assetto Corsa features an advanced DirectX 11 graphics engine that recreates an immersive environment, dynamic lighthing and realistic materials and surfaces. The advanced physics engine is being designed to provide a very realistic driving experience, including features and aspects of real cars, never seen on any other racing simulator such as tyre flat spots, heat cycles including graining and blistering, very advanced aerodynamic simulation with active movable aerodynamics parts controlled in real time by telemetry input channels, hybrid systems with kers and energy recovery simulation.
        </p>
      </mat-card-content>
    </mat-card>
    
    
  </div>
    