<div class="container">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>The Elder Scrolls V: Skyrim</mat-card-title>
        <mat-card-subtitle>Two hundred years have passed since the events of The Elder Scrolls IV: Oblivion, and it is now 4E 201</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./../../../assets/imagens/tesv.jpg" alt="SKYRIM">
      <mat-card-content>
        <p>The High King of Skyrim has been killed, and the threat of Civil War looms over the land of Skyrim; One side wishes to secede from the weakened Third Empire, while the other wishes to remain a part of it. To make matters worse, this schism is the final event in a prophecy foretold by the Elder Scrolls that will lead to the return of the dragons under Alduin, the Nordic god of destruction.
        </p>
      </mat-card-content>
    </mat-card>
    
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Fallout: 3</mat-card-title>
        <mat-card-subtitle>Prepare for the Future</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./../../../assets/imagens/fallout3.jpg" alt="FALLOUT 3">
      <mat-card-content>
        <p>
          experience the most acclaimed game of 2008 like never before. Create a character of your choosing and descend into an awe-inspiring, post-apocalyptic world where every minute is a fight for survival.
        </p>
      </mat-card-content>
    </mat-card>
   
  </div>
    